* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: hsl(13, 31%, 94%);
  padding: 30px;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 720px;
  width: 100%;
}

.title {
  font-size: 56px;
  margin-bottom: 30px;
  color: hsl(14, 65%, 9%);
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-card {
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
}

.product-image.active {
  border: 4px solid hsl(14, 86%, 42%);
}

.button-container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.add-to-cart {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  padding: 15px 40px;
  border-radius: 40px;
  border: 1px solid hsl(12, 20%, 44%);
  cursor: pointer;
  z-index: 1;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.add-to-cart:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid hsl(12, 20%, 44%);
}

.add-to-cart-icon {
  width: 30px;
  height: 30px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-color: hsl(14, 86%, 42%);
  font-size: 24px;
  font-weight: 600;
  color: white;
  padding: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.decrease-quantity-btn,
.increase-quantity-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.7;
}

.add-to-cart.hidden {
  display: none;
}

.quantity-selector.hidden {
  display: none;
}

.product-type {
  font-size: 18px;
  font-weight: 500;
  color: hsl(12, 20%, 44%);
  margin-bottom: 5px;
}

.product-name {
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  margin-bottom: 5px;
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
}

.cart {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
}

.cart h1 {
  font-size: 28px;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
}

.empty-cart-image {
  width: 200px;
  height: 200px;
}

.cart div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  color: hsl(12, 20%, 44%);
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
}