* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: hsl(13, 31%, 94%);
  padding: 30px;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 720px;
  width: 100%;
}

.title {
  font-size: 56px;
  margin-bottom: 30px;
  color: hsl(14, 65%, 9%);
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product {
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
}

.add-to-cart {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 40px;
  border-radius: 40px;
  border: 1px solid hsl(12, 20%, 44%);
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}

.add-to-cart-icon {
  width: 30px;
  height: 30px;
}

.product-type {
  font-size: 18px;
  font-weight: 500;
  color: hsl(12, 20%, 44%);
  margin-bottom: 5px;
}

.product-name {
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  margin-bottom: 5px;
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
}

.cart {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
}

.cart h1 {
  font-size: 28px;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
}

.empty-cart-image {
  width: 200px;
  height: 200px;
}

.cart div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  color: hsl(12, 20%, 44%);
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
}